/* Theme */
:root{
  --color-main: #69d2ff;
  --color-main-dark: #1692c6;
  --color-black-opacity-50: rgba(0, 0, 0, 0.5);
  --color-white-opacity-30: rgba(255, 255, 255, 0.3);
  --color-white-opacity-50: rgba(255, 255, 255, 0.5);
  --color-white-opacity-70: rgba(255, 255, 255, 0.7);
  --color-opacity: rgba(255, 255, 255, 1);
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}