nav{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 3px solid black;
    padding: 10px 0 10px 0;
}
.nav_menu_bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}
.category{
    background-image: url(../../data/menu.png);
    background-size: 25px 25px;
    background-position-y: -1px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
.search_container{
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    width: 200px;
    height: 20px;
}
.search_input_text{
    position: absolute;
    width: 195px;
    height: 20px;
    padding: 0 0 0 5px;
    border: 0;
    border-radius: 10px;
}
.search_input_submit{
    position: absolute;
    background-image: url(../../data/search.png);
    background-size: cover;
    right: 3px;
    top: 1px;
    height: 18px;
    width: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 7px;
    background-color: white;
}